<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"> 
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AR 실내내비게이션서비스</title>

 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Main CSS File -->
  <link rel="stylesheet" type="text/css" href="/assets/js/css/styles.css">..

  <!-- Kakao Login -->
  <script src = "https://developers.kakao.com/sdk/js/kakao.min.js"></script>

  <!-- Google Login -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name ="google-signin-client_id" content="46237981396-80g7m49b12mt0ef3cdlu7h0upireelj7.apps.googleusercontent.com">
 
  <!-- Facebook Login -->
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v10.0&appId=796273041128746" nonce="SiOBIhLG"></script>

  <!-- Naver Login -->
  <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!--<h1 class="logo mr-auto"><a href="index.html">AR </a></h1>-->
       <a href="index.html" class="logo mr-auto" style = "margin-bottom: 1px;"><img src="/assets/img/ar_logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block" style = "position: absolute; margin-top:3px; margin-left: 230px;">
        <ul>
          <li ><a href="index.html">홈</a></li>
          <li><a href="down.html">다운로드</a></li>
          <li><a href="summary.html">서비스개요</a></li>
          <li><a href="manual.html">매뉴얼</a></li>
          <li><a href="board.html">게시판</a></li>
          <li id = "login-btn" style ="position: absolute; margin-left: 750px; margin-top: 3px; padding: 6px 10px; border: solid 1px; text-align: center; height: 34px;"><a href= "login.html">로그인</a></li>
          <li><div style = "position: absolute;  margin-left:230px; margin-top:1px; font-size: 12px;" id="result"></div></li>
          <li id = "logout-btn" style ="position: absolute; margin-top: 3px; margin-left: 750px; display: none;   padding: 6px 10px; border: solid 1px; text-align: center; height: 34px;"  onclick="logout()"><a href="index.html">로그아웃</a></li>
         
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->

<!-- 로그아웃 -->
  <script type="text/javascript">
    function logout() {
      if(localStorage.getItem('name') != null)
      {
        window.location.href = 'http://localhost:4000/'
        localStorage.removeItem('name');
        localStorage.removeItem('email');
        $('#result').empty();
        name = "";
        $('#logout-btn').style.display = "";
      }
      else
      {
        alert('로그인하세요');
      }
    }
  </script>

  <script type="text/javascript">
    
    if(localStorage.getItem('name')!=null)
    {
      $('#login-btn').hide();
      $('#logout-btn').show();
      resultdiv = localStorage.getItem('name')+' 님 안녕하세요.';  
      $('#result').append(resultdiv);
    }
  </script>

  <main id="main">
    <div class="container">
    <table class="table table-hover" style = "height: 340px; margin-top:100px; margin-bottom:40px;">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody style = "height: 34px;" id="tblShow">
        </tbody>
        </table>
        </hr>

        <a style="border: 1px solid;" class = "btn btn-default pull-right" href="write.html" >글쓰기</a>
        <div style="margin-left: 45%; margin-bottom: 60px;">
            <ul class="pagination">
                <li><a onclick="first();">1</a></li>
                <li><a onclick="second();">2</a></li>
                <li><a onclick="third();">3</a></li>
                <li><a onclick="fourth();">4</a></li>
                <li><a onclick="fifth();">5</a></li>
            </ul>
        </div>  
    </div>
  </main><!-- End #main -->

  <script type="text/javascript">
    $(document).ready(function(){
      $.ajax({
        url: "/loadboards",
        type: "get",
        datatype: "json",
        success: function(result){
          
          var param = JSON.stringify(result);
          var length = Object.keys(result.boards).length;
          for(var i = 0; i<10 && i<length; i++){
          var objRow;
          objRow = document.all("tblShow").insertRow();

          var objCell_num = objRow.insertCell();
          objCell_num.innerHTML = i+1;

          var objCell_title = objRow.insertCell();
          objCell_title.innerHTML =  result.boards[i].title

          var objCell_name = objRow.insertCell();
          objCell_name.innerHTML = 'ddd';

          var objCell_date = objRow.insertCell();
          objCell_date.innerHTML = 'aaa';
        }

        }
      })
    })
   
    function load(num){
      $(document).ready(function(){
      $.ajax({
        url: "/loadboards",
        type: "get",
        datatype: "json",
        success: function(result){
          
          for(var i = 0; i<10 ; i++){
            document.all("tblShow").deleteRow(-1);
          }

          var param = JSON.stringify(result);
          var length = Object.keys(result.boards).length;
          for(var i = 10*num; i<10*num+10  && i<length; i++){
          var objRow;
          objRow = document.all("tblShow").insertRow();

          var objCell_num = objRow.insertCell();
          objCell_num.innerHTML = i+1;

          var objCell_title = objRow.insertCell();
          objCell_title.innerHTML =  result.boards[i].title

          var objCell_name = objRow.insertCell();
          objCell_name.innerHTML = 'ddd';

          var objCell_date = objRow.insertCell();
          objCell_date.innerHTML = 'aaa';
        }

        }
      })
    })
    }

    function first(){
      load(0);
    }
    function second(){
      load(1);
    } 
    function third(){
      load(2);
    }
    function fourth(){
      load(3);
    }
    function fifth(){
      load(4);
    }

  </script>

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3><a href="index.html" class="logo mr-auto"><img src="/assets/img/foot_logo.png" alt="" class="img-fluid"></a></h3>
            <p>
              서울특별시 성북구 안암로 145 고려대학교 산학관<br><br>
              <strong>Phone:</strong> 02 3291 2200<br>
              <strong>Fax:</strong> 070 4275 5321<br>
              <strong>Email:</strong> info@kounosoft.com<br>
            </p>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <!--<h4>Useful Links</h4>-->
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">홈</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="down.html">다운로드</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="summary.html">서비스 개요</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="manual.html">매뉴얼</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
   
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/js/jqeury_bundle.js"></script>
  <script src="/assets/js/bootstrap_bundle.js"></script>
  <script src="/assets/js/counterup_bundle.js"></script>
  <script src="/assets/js/carousel_bundle.js"></script>
  <script src="/assets/js/aos_bundle.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main_bundle.js"></script>

</body>

</html>