<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"> 
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AR 실내내비게이션서비스</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Main CSS File -->
  <link rel="stylesheet" type="text/css" href="/assets/js/css/styles.css">..

  <!-- Kakao Login -->
  <script src = "https://developers.kakao.com/sdk/js/kakao.min.js"></script>

  <!-- Google Login -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name ="google-signin-client_id" content="46237981396-80g7m49b12mt0ef3cdlu7h0upireelj7.apps.googleusercontent.com">
 
  <!-- Facebook Login -->
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v10.0&appId=796273041128746" nonce="SiOBIhLG"></script>

  <!-- Naver Login -->
  <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!--<h1 class="logo mr-auto"><a href="index.html">AR </a></h1>-->
       <a href="/index.html" class="logo mr-auto" style = "margin-bottom: 1px;"><img src="/assets/img/ar_logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block" style = "position: absolute; margin-top:3px; margin-left: 230px;">
        <ul>
          <li ><a href="/index.html">홈</a></li>
          <li><a href="/down.html">다운로드</a></li>
          <li><a href="/summary.html">서비스개요</a></li>
          <li><a href="/manual.html">매뉴얼</a></li>
          <li><a href="/board.html">게시판</a></li>
          <li id = "login-btn" style ="position: absolute; margin-left: 750px; margin-top: 3px; padding: 6px 10px; border: solid 1px; text-align: center; height: 34px;"><a href= "/login.html">로그인</a></li>
          <li><div style = "position: absolute;  margin-left:230px; margin-top:1px; font-size: 12px;" id="result"></div></li>
          <li id = "logout-btn" style ="position: absolute; margin-top: 3px; margin-left: 750px; display: none;   padding: 6px 10px; border: solid 1px; text-align: center; height: 34px;"  onclick="logout()"><a href="/index.html">로그아웃</a></li>
         
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->

<!-- 로그아웃 -->
  <script type="text/javascript">
    function logout() {
      if(localStorage.getItem('name') != null)
      {
        window.location.href = 'http://localhost:4000/'
        localStorage.removeItem('name');
        localStorage.removeItem('email');
        $('#result').empty();
        name = "";
        $('#logout-btn').style.display = "";
      }
      else
      {
        alert('로그인하세요');
      }
    }
  </script>

  <script type="text/javascript">
    
    if(localStorage.getItem('name')!=null)
    {
      $('#login-btn').hide();
      $('#logout-btn').show();
      resultdiv = localStorage.getItem('name')+' 님 안녕하세요.';  
      $('#result').append(resultdiv);
    }
  </script>

  <main id="main">
    <h2 style="margin-top: 115px; margin-bottom: 20px; text-align: center;">게시글</h2> 
    <ul style="list-style-type:none; ">
        <li style="text-align: center; margin-bottom: 10px;">
            <input name="title" id = "title" type="text" style="width:500px; font-size: 1.4rem; padding: 6px;" value="" readonly/>
        </li>
        <li style="text-align: center;">
            <input name="contents" id = "contents" type="text" style="width:500px; height: 300px; font-size: 1.4rem; padding: 6px;" value="" readonly/>
        </li>
        <li style="text-align:center;">
          <a style="border: 1px solid; margin-top: 20px; margin-right: 10px;" id="fix-btn" class = "btn btn-default " >수정</a>
          <a style="border: 1px solid; margin-top: 20px;" class = "btn btn-default " onclick = "delete_board()">삭제</a>
        </li>
    </ul>
    
    <hr style="margin-top: 50px;" >
    <form style="margin-top: 20px;" method="post">
      <ul style="list-style-type:none; ">
          <li style="text-align: center;">
              <textarea id="comment" rows="3" cols="100" name = "comment" 
              style="width:500px; font-size: 1.4rem; letter-spacing: 1px; padding: 6px;  line-height: 1.5; border: 1px solid;" placeholder="댓글을 입력하세요" required></textarea>
          </li>
          <li>
            <input type="text" style="display: none;" id="id" name="id">
            <input type="text" style="display: none;" id="index" name="index">
          </li>
          <li style="text-align: center;">
              <input type="submit",  value="댓글 달기" style="margin-top: 15px; margin-bottom: 30px; font-size: 13px;">
          </li>
      </ul>
    </form>


    
   
    <table class="table" style = "width: 460px; margin: auto; margin-bottom:100px;">
      <tbody id ="commentsShow"></tbody>
    </table>
  

    
  </main><!-- End #main -->

  <script  type="text/javascript">
    function get_query()
    { var url = document.location.href; 
      var qs = url.substring(url.indexOf('?') + 1).split('&'); 
      for(var i = 0, result = {}; i < qs.length; i++){ 
        qs[i] = qs[i].split('='); 
        result[qs[i][0]] = decodeURIComponent(qs[i][1]); 
      } 
      return result; 
    }


    var param = get_query();
    var index = param.index;
    document.getElementById("fix-btn").href = "/fix.html/?index=" + index;

    function delete_board(){
      $(document).ready(function(){
          $.ajax({
            url: "/deleteboard",
            type: "post",
            data: {index:index-1},
            success: function(result){
              window.location.href = '/board.html';
            }
          })
      })
    }

    $(document).ready(function(){
          $.ajax({
            url: "/loadboards",
            type: "post",
            datatype: "json",
            data: {index:index-1},
            success: function(result){
              var obj = get_query();
              $('input[name=title]').attr('value',result.boards.title);
              $('input[name=contents]').attr('value',result.boards.contents); 
              $('input[name=id]').attr('value',result.boards._id);
              $('input[name=index]').attr('value',index);
            }
          })
      }
    )

    $(document).ready(function(){
    $.ajax({
      url: "/loadcomments",
      type: "post",
      data: {index: index-1},
      datatype: "json",
      success: function(result){
        
        var length = Object.keys(result.comments).length;
        for(var i = 0; i<length; i++){
          var objRow;
          objRow = document.all("commentsShow").insertRow();
          objDate = document.all("commentsShow").insertRow();
          objDelete =  document.all("commentsShow").insertRow();
          var objCell = objRow.insertCell();
          var objCell2 = objDate.insertCell();
          var objCell3 = objDelete.insertCell();
          var frmTag = result.comments[i].comment;
          var frmTag2 = result.comments[i].date.year + '-' + result.comments[i].date.month + '-' + result.comments[i].date.day
          var frmTag3 = "<input id='delete_comment_btn' type='button' onclick = 'delete_comment' value='삭제'/>";
          objCell.innerHTML = frmTag;
          objCell2.innerHTML = frmTag2;
          objCell3.innerHTML = frmTag3;
          objCell.style = "font-size: 1.5em; border-bottom:none; padding-top:15px; padding-bottom: 3px; width:460px;"
          objCell2.style = "font-size: 1em; color:gray; border:none; padding-top:6px; padding-bottom: 0px;"
          objCell3.style = "border-top:none; padding-top 0px;"
          objCell.id = "table_click";
          
          $(document).on("click", "#delete_comment_btn", function(){
            var btn = document.getElementById("table_click").firstChild;
            btn.click();
          })

          objCell3.onclick = function(element){
            $(document).ready(function(){
              $.ajax({
                url: "/deletecomment",
                type: "post",
                data: {index_board: index-1, index_comment: parseInt(element.srcElement.parentNode.rowIndex/3)},
                success: function(result){
                  window.location.href = '/contents.html/?index='+index;
            }
              })
            })
          }
          
          objRow.style = "word-break: break-all;"
      }

      }
    })
  })

  </script>
  
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3><a href="/index.html" class="logo mr-auto"><img src="/assets/img/foot_logo.png" alt="" class="img-fluid"></a></h3>
            <p>
              서울특별시 성북구 안암로 145 고려대학교 산학관<br><br>
              <strong>Phone:</strong> 02 3291 2200<br>
              <strong>Fax:</strong> 070 4275 5321<br>
              <strong>Email:</strong> info@kounosoft.com<br>
            </p>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <!--<h4>Useful Links</h4>-->
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html">홈</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/down.html">다운로드</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/summary.html">서비스 개요</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/manual.html">매뉴얼</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
   
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/js/jqeury_bundle.js"></script>
  <script src="/assets/js/bootstrap_bundle.js"></script>
  <script src="/assets/js/counterup_bundle.js"></script>
  <script src="/assets/js/carousel_bundle.js"></script>
  <script src="/assets/js/aos_bundle.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main_bundle.js"></script>

</body>

</html>